<%- include("../partials/header") %>

<div>

<div id="slider">
  <div class="slides">
    <div class="slider">     
      <div class="image">
        <a href="http://localhost:4000/products/category/Women">
        <img src="https://img.freepik.com/free-vector/realistic-winter-sale-banner-template_52683-100252.jpg?w=1800&t=st=1701095536~exp=1701096136~hmac=a368577ccaeeb4cc66800955e9be90f8af160a447de5d1be470a2a44049f81a0"></a>
        <!-- <img src="https://img.freepik.com/free-vector/winter-product-podium-background-drifts-snowflakes-snow-realistic-product-podium-winter-christmas-discount-design-sale-vector-illustration_87521-3501.jpg?w=2000&t=st=1701095610~exp=1701096210~hmac=0b0cb98601b88a96e5fc10336644b9ab95e898684cfeb17aaa5e3b34e12210e1"> -->
      </div>
    </div>
    <div class="slider">
      <a href="http://localhost:4000/products/category/Mobiles">
      <div class="content">
        <div class="content-txt">
          <h1>New iPhones </h1>
          <h2>are also available</h2>
        </div>
      </div>
    </a>
      <div class="image">
          <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/34b5bf180145769.6505ae7623131.jpg"></a>

        <!-- <img src="https://static.vecteezy.com/system/resources/previews/001/335/283/original/exclusive-black-friday-sale-poster-banner-background-free-vector.jpg"> -->
      </div>
    </div>
    <div class="slider">
      <div class="legend"></div>
      <a href="http://localhost:4000/products/category/Laptops">
      <div class="content">
        <div class="content-txt">
          <h1>Black Friday Sale</h1>
          <h2>upto 50% off on all Items. T&C apply</h2>
        </div>
      </div>
    </a>
      <div class="image">
        <!-- <img src="https://img.freepik.com/free-vector/mega-sale-banner-blue-yellow-colors_1017-32176.jpg?size=626&ext=jpg&ga=GA1.1.791500655.1695650306&semt=sph"> -->
        <img src="https://static.vecteezy.com/system/resources/previews/001/335/283/original/exclusive-black-friday-sale-poster-banner-background-free-vector.jpg">
        <!-- <img src="https://img.freepik.com/free-vector/realistic-winter-sale-banner-template_52683-100252.jpg?w=1800&t=st=1701095536~exp=1701096136~hmac=a368577ccaeeb4cc66800955e9be90f8af160a447de5d1be470a2a44049f81a0"> -->
      </div>
    </div>
    <div class="slider">
      <div class="legend"></div>
      <a href="http://localhost:4000/products/category/Mens">
      <div class="content">
        <div class="content-txt">
          <h1>Special Sale is live</h1>
          <h2>Sale is live get upto 40% off on Electronic Items. T&C apply</h2>
        </div>
      </div>
    </a>
      <div class="image">
         <img src="https://img.freepik.com/free-vector/winter-product-podium-background-drifts-snowflakes-snow-realistic-product-podium-winter-christmas-discount-design-sale-vector-illustration_87521-3501.jpg?w=2000&t=st=1701095610~exp=1701096210~hmac=0b0cb98601b88a96e5fc10336644b9ab95e898684cfeb17aaa5e3b34e12210e1">
        </div>
    </div>
  </div>
  <div class="switch">
    <ul>
      <li>
        <div class="on"></div>
      </li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>

<section class="shipping">
  <div class="s_container">
    <div class="grid1">
      <div class="box">
        <i class="fa fa-undo"></i>
        <h3>30 Days Return</h3>
      </div>
      <div class="box">
        <i class="fa fa-truck"></i>
        <h3>Free Shipping</h3>
      </div>
      <div class="box">
        <i class="fa fa-lock"></i>
        <h3>Secure Payments</h3>
      </div>
      <div class="box">
        <i class="fa fa-gift"></i>
        <h3>New Product</h3>
      </div>
    </div>
  </div>
</section>

<div class="head">
  <div class="cont">
    <div class="slide">
      <div class="testimonal" id="testimonal-1">
        <div class="user-text">
          <h3>Prince</h3>
          <div class="twitter"><i class="fab fa-twitter"><small>@prime</small></i></div>
          <p>EzonMart is a great place to find everything you need for your home. I've bought everything from groceries to clothes to furniture at EzonMart, and I've always been happy with my purchases. The prices are always low, and the selection is great..</p>
        </div>
        <div class="img">
          <img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="" class="user">
        </div>
      </div>
      <div class="testimonal" id="testimonal-2">
        <div class="user-text">
          <h3>Chirag</h3>
          <div class="twitter"><i class="fab fa-twitter"><small>@chirag</small></i></div>
          <p>EzonMart is a great place to find electronics and appliances. I've bought everything from TVs and laptops to refrigerators and washers at EzonMart, and I've always been happy with my purchases. The selection is great, and the staff is always knowledgeable and helpful. </p>
        </div>
        <div class="img">
          <img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="" class="user">
        </div>
      </div>
      <div class="testimonal" id="testimonal-3">
        <div class="user-text">
          <h3>Salman</h3>
          <div class="twitter"><i class="fab fa-twitter"><small>@sallu</small></i></div>
          <p>It s a great place to find great deals on clothes, shoes, and home goods. I've bought everything from jeans and dresses to shoes and accessories at EzonMart, and I've always been happy with my purchases. The prices are always low, and the selection is great. </p>
        </div>
        <div class="img">
          <img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="" class="user">
        </div>
      </div>
      <div class="testimonal" id="testimonal-4">
        <div class="user-text">
          <h3>Jatin</h3>
          <div class="twitter"><i class="fab fa-twitter"><small>@jatt</i></small></div>
          <p>It is a great place to find high-quality clothes, shoes, and accessories for the whole family. I've bought everything from dresses and suits to shoes and handbags at EzonMart, and I've always been happy with my purchases. The quality is excellent, and the selection is great. </p>
        </div>
        <div class="img">
          <img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="" class="user">
        </div>
      </div>
      <div class="testimonal" id="testimonal-5">
        <div class="user-text">
          <h3>Abhay</h3>
          <div class="twitter"><i class="fab fa-twitter"><small>@abhay</small></i></div>
          <p>It is a great place to find high-quality home goods at discounted prices. I've bought everything from bedding and towels to kitchenware and furniture at EzonMart, and I've always been happy with my purchases. The selection is wide-ranging, and the prices are unbeatable. </p>
        </div>
        <div class="img">
          <img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="" class="user">
        </div>
      </div>
    </div>
    <div class="slider-btn">
      <a href="#testimonal-1"><span class="dot"></span></a>
      <a href="#testimonal-2"><span class="dot"></span></a>
      <a href="#testimonal-3"><span class="dot"></span></a>
      <a href="#testimonal-4"><span class="dot"></span></a>
      <a href="#testimonal-5"><span class="dot"></span></a>
    </div>
  </div>
</div>

  <h3 style="text-align:center" class="mb-3">Shop By Categories</h3>
  <div class="row justify-content-center" id="grid">
    <% categories.forEach(category => { %>
    <a class="col-lg-3 col-md-6" href="/products/category/<%= category.replaceAll(" ","-") %>">
      <div class="category-container text-center mb-3">
        <span><%= category %> </span>
      </div>
    </a>
    <% }) %>
  </div>
</div>

<%- include("../partials/footer") %>
